/* line 7, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* line 16, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h1, .h1 {
  font-size: 2.5rem;
}

/* line 17, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h2, .h2 {
  font-size: 2rem;
}

/* line 18, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h3, .h3 {
  font-size: 1.75rem;
}

/* line 19, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h4, .h4 {
  font-size: 1.5rem;
}

/* line 20, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h5, .h5 {
  font-size: 1.25rem;
}

/* line 21, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
h6, .h6 {
  font-size: 1rem;
}

/* line 23, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* line 29, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 34, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 39, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 44, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* line 55, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 67, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
small,
.small {
  font-size: 80%;
  font-weight: 400;
}

/* line 73, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

/* line 84, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 89, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.list-inline {
  padding-left: 0;
  list-style: none;
}

/* line 92, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.list-inline-item {
  display: inline-block;
}

/* line 95, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.list-inline-item:not(:last-child) {
  margin-right: 5px;
}

/* line 106, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 112, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/* line 117, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #868e96;
}

/* line 122, /Applications/MAMP/htdocs/oneemstest/scss/_type.scss */
.blockquote-footer::before {
  content: "\2014 \00A0";
}

/* line 8, /Applications/MAMP/htdocs/oneemstest/scss/_images.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* line 14, /Applications/MAMP/htdocs/oneemstest/scss/_images.scss */
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}

/* line 30, /Applications/MAMP/htdocs/oneemstest/scss/_images.scss */
.figure {
  display: inline-block;
}

/* line 35, /Applications/MAMP/htdocs/oneemstest/scss/_images.scss */
.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

/* line 40, /Applications/MAMP/htdocs/oneemstest/scss/_images.scss */
.figure-caption {
  font-size: 90%;
  color: #868e96;
}

/* line 2, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
code,
kbd,
pre,
samp {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* line 10, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
}

/* line 18, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
a > code {
  padding: 0;
  color: inherit;
  background-color: inherit;
}

/* line 26, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

/* line 34, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

/* line 43, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: #212529;
}

/* line 51, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* line 61, /Applications/MAMP/htdocs/oneemstest/scss/_code.scss */
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/*# sourceMappingURL=../resources/css/custom.map */